In [4]:
import os
import pandas as pd
import torch
from torch.utils.data import Dataset, DataLoader, random_split, Subset
DATA_DIR = './data'

In [6]:
data = pd.read_csv(os.path.join(DATA_DIR, 'cleaned_data.csv'))
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,88,0,1,1,2,1,3850,239,1,1
1,0,82,0,0,1,3,0,3588,418,2,1
2,1,101,0,1,1,2,0,2483,198,2,1
3,0,70,0,0,1,2,1,3385,217,3,1
4,0,100,1,0,1,3,0,3394,113,2,1

In [ ]:
class MyDataset(Dataset):
    def __init__(self, dataframe, label_column=None, transform=None):
        super().__int__()
        self.dataframe = dataframe
        self.label_column = label_column
        self.transform = transform
        
        # 如果有标签列，将标签分开
        if label_column:
            self.features = dataframe.drop(columns=[label_column]).values
            self.labels = dataframe[label_column].values
        else:
            self.features = dataframe.values
            self.labels = None

    def __len__(self):
        # 返回数据集的大小
        return len(self.dataframe)

    def __getitem__(self, idx):
        # 获取索引为 idx 的数据
        feature = self.features[idx]
        
        # 如果有标签列，返回标签
        if self.labels is not None:
            label = self.labels[idx]
            sample = torch.tensor(feature, dtype=torch.float32), torch.tensor(label, dtype=torch.float32)
        else:
            sample = torch.tensor(feature, dtype=torch.float32)
        
        # 如果定义了transform，应用转换
        if self.transform:
            sample = self.transform(sample)
        
        return sample
    
data_all = MyDataset()